body {
  background-color: #1A1E24;
  color: #FFF;
  font-size: 20px;
}

div.top_bar {
  height: 4px;
  width: 15%;
  float: left;
}

div.nav-bar {
    height: 200px;
    background-color: #000;
    padding: 20px 0px 20px 0px;
    background-image: url('img/richever_logo.png');
    background-position: 45% 130px;
    background-repeat: no-repeat;
    transition: background-color 1s ease;
}

div.nav-bar:hover {
    background-color: #1A1E24;
}

div.bn {
    text-align: center;
    font-size: 20px;
    transition: font-size 1s ease; }

div.bn:hover {
    font-size: 25px;}
                   
